# Created by .ignore support plugin (hsz.mobi)
#GIT代码提交忽略文件配置
/target
*.classpath
*.class
*.myumldata

#打包相关
*.jar
*.wa

*.versionsBackup

Thumbs.db

#idea相关
/.idea
*.iml
*.ipr
*.iws
.idea/.name
.idea/*.xml
.idea/*


#eclipse相关
/.project
/.settings

/.idea/compiler.xml
out/artifacts
out/
lizhen.iml
.idea
